<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Sign In</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body class="page-signin">
  <div class="container form-container">
    <h1 class="form-title">Sign In</h1>

    <% if (error) { %>
      <p class="error-message"><%= error %></p>
    <% } %>

    <form action="/signin" method="POST" class="form">
      <label for="email" class="form-label">Email</label>
      <input type="email" id="email" name="email" class="form-input" required />

      <label for="password" class="form-label">Password</label>
      <input
  type="password"
  name="password"
  class =" form-input"
  autocomplete="current-password"
/>

      <button type="submit" class="btn btn-primary">Sign In</button>
    </form>

    <p class="form-footer">
      Don't have an account? <a href="/signup" class="link">Sign Up</a> <br/>
      <a href="/forgot-password" class="link">Forgot Password?</a>
    </p>
  </div>
</body>
</html>
